<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Centro Educativo Gandhi</title>
    <!-- ÍCONO -->
    <link rel="icon" href="/img/icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navfoot.css">
    <link rel="stylesheet" href="/css/landingpage.css">
    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark fixed-top navbar-color p-2" id="menu">
        <div class="container">
            <a class="navbar-brand" href="#home">Centro Educativo Gandhi</a>
            <button class="navbar-toggler pl-3 pr-3" id="navbar-toggle-menu" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto text-white">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#teachers">Docentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-key"></i> Iniciar sesión
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/InicioAlumn">Alumno</a>
                            <a class="dropdown-item" href="/LogTeacher">Profesor</a>
                            <a class="dropdown-item" href="/InicioDirec">Director</a>
                            <a class="dropdown-item" href="/InicioAdmin">Administrador</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- CONTAINER -->
    <div class="container-xxl">
        <!-- CAROUSEL IMG -->
        <div class="banner" id="home">
            <div class="carousel-container" id="home">
                <div class="mySlides">
                    <img src="/img/cr1.jpeg" alt="imagen-1">
                    <div class="mySlides-center1">
                        <p class="carousel-title">El mejor regalo que le puedes dar a tus hijos es una buena eduación.
                        </p>
                        <a href="#contact" class="carousel-calltoaction">CONTÁCTANOS</a>
                    </div>
                </div>
                <div class="mySlides">
                    <img src="/img/cr2.jpg" alt="">
                    <div class="mySlides-center2">
                        CENTRO EDUCATIVO <b>&nbsp;GANDHI</b>
                    </div>
                </div>
                <div class="mySlides">
                    <img src="/img/cr3.jpg" alt="">
                    <div class="mySlides-center2">El arma más poderosa para cambiar el mundo es la educación.</div>
                </div>
                <div class="elements justify-content-center">
                    <a class="quadrate-click" onclick="plusSlides(-1)" id="flechaizquierda"><i
                            class="fas fa-chevron-left"></i></a>
                    <span class="quadrate" onclick="currentSlide(1)"></span>
                    <span class="quadrate" onclick="currentSlide(2)"></span>
                    <span class="quadrate" onclick="currentSlide(3)"></span>
                    <a class="quadrate-click" onclick="plusSlides(1)" id="flechaderecha"><i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <!-- ABOUT US -->
            <div class="ancla1 p-3" id="about"></div>
            <div class="about-container m-3 pt-2">
                <div class="about1 text-center">
                    <h3 class="title-aboutus"><b>SOBRE NOSOTROS</b></h3>
                    <p>Es la primera experiencia que los niños y las niñas tienen en la escuela y fuera de su entorno familiar, por lo que en Centro Edcuativo Gandhi procuramos que este encuentro se le asemeje al niño a la experiencia de vivir y trabajar en una gran familia: es una extensión de casa. Los grupos están formados por unos niños de entre 1.6 y 5 años de edad.
                        Las maestras se encargan de acompañarlos cuidando que el día transcurra de manera rítmica y ordenada, preparando con amor y dedicación el ambiente del salón y las actividades de manualidades y creativas.</p>
                </div>
                <div class="row m-auto about-wrapper text-center justify-content-center">
                    <div class="about-card col-12 col-lg-3 m-4">
                        <div class="about-icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <div class="about-text">
                            <h4>MISIÓN</h4>
                            <p>Difundir y ampliar el conocimiento en los niños mediante una educación integral y con valores, tendiente al desarrollo de sus habilidades y capacidades con la finalidad principal que cuenten con herramientas para que se favorezcan en cada uno de ellos la integración dentro de la sociedad a la cual pertenecen y con esto puedan ser agentes de transformación social en su momento.</p>
                        </div>
                    </div>
                    <div class="about-card col-12 col-lg-3 m-4">
                        <div class="about-icon">
                            <i class="fas fa-puzzle-piece"></i>
                        </div>
                        <div class="about-text">
                            <h4>VISIÓN</h4>
                            <p>Somos una Institución en la que las personas son lo importante y la capacidad de aprender está presente, lo que nos lleva a ser ante toda una comunidad de aprendizaje basada en el desarrollo humano, llevado a cabo mediante un proceso de mejora continua, atendiendo a las necesidades educativas y el bien de todos y cada uno de los integrantes de la misma.</p>
                        </div>
                    </div>
                    <div class="about-card col-12 col-lg-3 m-4">
                        <div class="about-icon">
                            <i class="fas fa-eye"></i>
                        </div>
                        <div class="about-text">
                            <h4>FILOSOFÍA</h4>
                            <p>Nuestra motivación surge de la creencia que la educación es lo mejor que se le puede dar a los niños en su etapa de formación, entonces queremos por medio del respeto, la empatía y la solidaridad ayudar a construir un México mejor con personas mejor preparadas y más educadas ya que únicamente de ese modo existirá el progreso.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TEACHERS -->
            <div class="ancla1 p-3" id="teachers"></div>
            <div class="teachers-container pt-1">
                <h3 class="title-teachers principal-teachers"><b>NUESTROS PROFESORES</b></h3>
                <p class="principal-teachers">Conoce a algunos de nuestros profesores altamente capacitados para cuidar a tu hijo dentro de nuestro plantel.</p>
                <section class="slider">
                    <div class="slider-container contenedor">
                        <i class="fas fa-chevron-left slider-arrow" id="before"></i>
                        <section class="slider-body slider-body--show" data-id="1">
                            <div class="slider-texts">
                                <h4 class="subtitle">Ivonne López</h4>
                                <p class="teacher-review">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Mollitia
                                    adipisci illum quia explicabo provident repudiandae?</p>
                            </div>
                            <figure class="slider-picture">
                                <img src="/img/teacher1.jpg" alt="maestro1" class="slider-img">
                            </figure>
                        </section>
                        <section class="slider-body" data-id="2">
                            <div class="slider-texts">
                                <h4 class="subtitle">Rosario Lira</h4>
                                <p class="teacher-review">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Mollitia
                                    adipisci illum quia explicabo provident repudiandae?</p>
                            </div>
                            <figure class="slider-picture">
                                <img src="/img/teacher2.jpg" alt="maestro1" class="slider-img">
                            </figure>
                        </section>
                        <section class="slider-body" data-id="3">
                            <div class="slider-texts">
                                <h4 class="subtitle">Félix Ramírez</h4>
                                <p class="teacher-review">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Mollitia
                                    adipisci illum quia explicabo provident repudiandae?</p>
                            </div>
                            <figure class="slider-picture">
                                <img src="/img/teacher3.jpg" alt="maestro1" class="slider-img">
                            </figure>
                        </section>
                        <i class="fas fa-chevron-right slider-arrow" id="after"></i>
                    </div>
                </section>
            </div>
            <!-- CONTACT -->
            <div class="col-md-12 picture-contact-container" id="contact">
                <div class="contact-container row justify-content-center align-items-center">
                    <h2 class="text-white"><b>CONTACTO</b></h2>
                    <form class="col-md-12 mx-auto" onsubmit="return validarContacto()">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6 col-sm-12">
                                <input type="email" class="forma-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <input type="text" class="forma-control" id="asunto" placeholder="Asunto" required>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-12">
                                <textarea name="mensaje" id="mensaje" placeholder="Mensaje" class="forma-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4 col-sm-6">
                                <button type="submit" class="btn btn-block">ENVIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- SPONSORS -->
            <div class="sponsors-container col-12">
                <div class="row text-center">
                    <div class="col-12 col-sm-4">
                        <img src="/img/pat1.png" alt="Escuela" class="sponsor">
                    </div>
                    <div class="col-12 col-sm-4">
                        <img src="/img/pat2.png" alt="Gobierno CDMX" class="sponsor">
                    </div>
                    <div class="col-12 col-sm-4">
                        <img src="/img/pat3.png" alt="SEP" class="sponsor">
                    </div>
                </div>
            </div>
        <%- include ('./partials/_footerBig') %>
    <!-- SCRIPTS -->
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script> 
    <!-- SWEET ALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- LANDING PAGE JS -->
    <script src="/js/landingp.js"></script>
</body>

</html>