<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/vistas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body>
    <!-- HEADER/NAVBAR -->
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="vistauser.html">Centro Educativo Gandhi</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="vistauser_editarusuario.html"><i class="fas fa-user"></i> Pedro Parra</a></li>
                <li><a href="vistauser_editartutor.html">Editar tutor</a></li>
                <li><a href="cuestionario.html">Responder cuestionario</a></li>
                <li><a href="/index.html">Cerrar sesión</a></li>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- CUESTIONARIO COVI -->
    <div class="qr-page">
        <div class="qr-container">
            <h3>Pedro Parra</h3>
            <p>10/10/2021</p>
            <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fbenjamngarcia.github.io%2FProyecto-Catarina%2F&s=8&e=m"
                alt="Generador de Códigos QR Codes" />
            <div class="botones-qr">
                <a href="vistauser.html" class="botonnormal">REGRESAR A INICIO</a>
                <button class="botonredondo"><i class="fas fa-share-alt"></i></button>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="footer-bottom">
            <p><a href="#">AVISO DE PRIVACIDAD</a></p>
            <div class="footer-menu">
                <p>Copyright &copy;2021 <a href="https://benjamngarcia.github.io/DICTAMIGOS/">DICTAMIGOS & ASOCS</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="../js/navbar.js"></script>
</body>

</html>