<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/vistas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <!-- HEADER / NAVBAR -->
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="vistauser.html">Centro Educativo Gandhi</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="vistauser_editarusuario.html"><i class="fas fa-user"></i> Pedro Parra</a></li>
                <li><a href="vistauser_editartutor.html">Editar tutor</a></li>
                <li><a href="cuestionario.html">Responder cuestionario</a></li>
                <li><a href="/index.html">Cerrar sesión</a></li>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- BODY -->
    <div class="body-page-edittut">
        <div class="contact-container" id="contact">
            <div class="contact-body">
                <h3 class="contact-title"><b>DATOS ALUMNO</b></h3>
                <form onsubmit="return validarUsuario();">
                    <p class="input-format-contact">
                        <input type="text" placeholder="Nombre" onkeypress="return SoloLetras(event);"
                            name="nombre_alumno" id="nombre" required>
                    </p>
                    <p class="input-format-contact">
                        <input type="text" placeholder="Apellido Paterno" onkeypress="return SoloLetras(event);" name="appat_alumno" id="appat"
                            required>
                    </p>
                    <p class="input-format-contact">
                        <input type="text" placeholder="Apellido Materno" onkeypress="return SoloLetras(event);"
                            name="apmat_alumno" id="apmat" required>
                    </p>
                    <p class="input-format-contact">
                        <input type="email" placeholder="Correo electrónico" name="email_user" id="email" required>
                    </p>
                    <p class="input-format-contact">
                        <input type="text" placeholder="Telefono" name="telefono_user" id="telefono" required>
                    </p>
                    <p class="input-format-contact">
                        <input type="text" placeholder="Matricula" name="matricula_user" id="matricula" required>
                    </p>
                    <p class="input-format-contact">
                        <input type="text" placeholder="Contraseña" name="contraseña_user" id="contraseña"
                            required>
                    </p>
                    <p class="input-format-contact">
                        <input type="date" placeholder="Fecha de inscripción" name="inscripcion"
                            id="inscripcion" required>
                    </p>
                    <p class="block">
                        <input type="text" placeholder="Grupo" name="grupo_user" id="grupo" required>
                    </p>
                    <p class="buttonsubmit">
                        <button type="submit" class="enviar">
                            GUARDAR CAMBIOS
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="footer-bottom">
            <p><a href="#">AVISO DE PRIVACIDAD</a></p>
            <div class="footer-menu">
                <p>Copyright &copy;2021 <a href="https://benjamngarcia.github.io/DICTAMIGOS/">DICTAMIGOS & ASOCS</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="../js/navbar.js"></script>
    <script src="../js/validaciones.js"></script>
</body>

</html>