<%if (login === true) {%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtr=device-widtr, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
        <!-- ÍCONO -->
        <link rel="icon" href="/img/icon.png">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/vistasdirec.css">
        <!-- BOOTSTRAP 5 -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- SWEET ALERT -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- LANDING PAGE JS -->
        <script src="/js/validaciones.js"></script>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbar-color p-2"  style="background-color: #072f4e;" id="menu">
        <a class="navbar-brand" href="/escuela/VistaAdmin">Centro Educativo Gandhi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fas fa-user"></i>  <%= data.nom_admin %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#director">Director</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- BODY -->
    <div class="container-xxl">
        <div class="col-md-10 col-sm-12 mx-auto mt-4">
            <div class="row justify-content-center">
                <div class="card" id="director">
                    <!-- EDITAR PERFIL -->
                    <div class="card-header" id="editar">
                        <div class="text-center rounded-circle mx-auto p-2">
                            <i class="fas fa-user-circle text-blueCEG h1"></i>
                        </div>
                        <h3 class="text-center"><b>REGISTRAR DIRECTOR</b></h3>
                    </div>
                    <div class="card-body">
                        <form action="/RegistrarDirector" onsubmit="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="" placeholder="Nombre">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="" placeholder="Apellido paterno">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="" placeholder="Apellido materno">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="" placeholder="Dirección">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="phone" class="form-control" id="" placeholder="Teléfono">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="" placeholder="Correo electrónico">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="" placeholder="RFC">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="" placeholder="NSS">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="date" class="form-control" id="">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" id="" placeholder="Contraseña">
                                </div>
                            </div>
                        </div>
                        <div class="form-row mx-auto">
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn-especial p-3">REGISTRAR</button>
                            </div>
                        </div>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- VISUALIZAR PROFESORES -->
        <h3 class="text-center mt-5" id="teacher">LISTA PROFESORES</h3>
            <div class="col-md-10 col-sm-12 m-auto">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>RFC</td>
                            <td>Correo</td>
                            <td>Nombre</td>
                            <td>Apellido Paterno</td>
                            <td>Telefono</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>si</td>
                            <td>si</td>
                            <td>si</td>
                            <td>si</td>
                            <td>si</td>
                            <td>si</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <canvas id="oilChart" width="80%" height="20%"></canvas>
    </div>
    <script src="../js/graphs.js"></script>
    <%- include ('./partials/_footerCopy') %>
    
</body>
</html>
<%} else {%>
    <%- include ('./partials/erroracceso') %>
<%}%>