<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtr=device-widtr, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/vistasdirec.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <!-- HEADER / NAVBAR -->
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="vistadirector.html">Centro Educativo Gandhi</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="#editar"><i class="fas fa-user"></i> Pedro Parra</a></li>
                <li><a href="#viewgroups">Visualizar grupos</a></li>
                <li><a href="#viewteachers">Lista de maestros</a></li>
                <li><a href="#viewstudent">Buscar alumno</a></li>
                <li><a href="/index.html">Cerrar sesión</a></li>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- BODY -->
    <div class="body-page">
        <div class="welcome-page">
            <h3>BIENVENIDO DIRECTOR</h3>
            <a href="" class="button-action">ENVIAR ALERTA</a>
        </div>
        <div class="save-buttons">
            <a href="registroalum.html" class="button-action">REGISTRAR ALUMNO</a>
            <a href="registroteach.html" class="button-action">REGISTRAR PROFESOR</a>
        </div>
        <div class="body-page-edittut">
            <div class="contact-container" id="contact">
                <!-- EDITAR PERFIL -->
                <div class="contact-body" id="editar">
                    <h3 class="contact-title"><b>EDITAR PERFIL:</b></h3>
                    <div class="profile-pic">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <form onsubmit="return validar();">
                        <p class="input-format-contact">
                            <input type="text" placeholder="Nombre" onkeypress="return SoloLetras(event);"
                                name="nombre_direc" id="nombre_alumno" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="text" placeholder="Apellido Paterno" name="appat_alumno" id="appat_direc"
                                required>
                        </p>
                        <p class="input-format-contact">
                            <input type="text" placeholder="Apellido Materno" onkeypress="return SoloLetras(event);"
                                name="apmat_direc" id="apmat_alumno" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="text" placeholder="Dirección" name="direccion_direc" id="direccion" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="text" placeholder="Telefono" name="telefono_direc" id="telefono_user" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="text" placeholder="RFC" name="rfc_direc" id="rfc_direc" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="text" placeholder="NSS" name="nss_direc" id="correo_direc" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="email" placeholder="Correo" name="email_direc" id="email_direc" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="password" placeholder="Password" name="pass_direc" id="pass_direc" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="date" placeholder="Fecha de contratación" name="contratacion_direc"
                                id="contratacion_direc" required>
                        </p>
                        <p class="buttonsubmit">
                            <button type="submit" class="enviar" onclick="enviar();">
                                GUARDAR CAMBIOS
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!-- VISUALIZAR GRUPOS -->
        <div class="view-group" id="viewgroups">
            <h3>VISUALIZAR GRUPOS</h3>
            <p class="input-view-group">
                <input type="text" placeholder="Grupo" name="grupo" id="grupo" required>
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Encuesta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- VISUALIZAR PROFESORES -->
        <div class="view-group" id="viewteachers">
            <h3>VISUALIZAR PROFESORES</h3>
            <table>
                <thead>
                    <tr>
                        <th>RFC</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- VISUALIZAR ALUMNO -->
        <div class="view-group" id="viewstudent">
            <h3>VISUALIZAR ALUMNO</h3>
            <p class="input-view-group">
                <input type="text" placeholder="Alumno" name="alumno" id="alumno" required>
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono tutor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td>si</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="footer-bottom">
            <p><a href="#">AVISO DE PRIVACIDAD</a></p>
            <div class="footer-menu">
                <p>Copyright &copy;2021 <a href="https://benjamngarcia.github.io/DICTAMIGOS/">DICTAMIGOS & ASOCS</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="../js/navbar.js"></script>
    <script src="../js/validaciones.js"></script>
</body>

</html>