/* ----------------------HEADER----------------- */
.content{
    max-width: 1250px;
    margin: 0;
    padding: 0px 30px;
}
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: var(--white);
    font-size: 30px;
    font-weight: 300;
    font-family: var(--title);
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: var(--gray);
}
/* -------------------LOG IN FORM-------------- */
.login-container{
    background-image: url('../img/formalum.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    font-family: var(--text);
}
.login-container-teach{
    background-image: url('../img/formprof.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    font-family: var(--text);
}
.login-body{
    background-color:rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    padding: 3%;
}
.form-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    width: 50%;
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
form .block,
form .buttonsubmit{
    grid-column: 1 / 3;
}
form input{
    width: 100%;
    padding: .5em;
    margin: 1.5%;
    border: none;
    background: rgba(170, 169, 169, 0.849);
    outline: none;
    color:var(--white);
    border-bottom: 1px solid var(--blanquito);
    font-family: var(--text);
    border-radius: 60px;
}
form .block-input{
    width: 50%;
    margin: auto;
}
form button{
    width: 50%;
    padding: 1em;
    margin: 1em auto;
    border: none;
    background: var(--red);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 60px;
}
::placeholder{
    color: var(--white);
}
form button:hover,
form button:focus{
    cursor:pointer;
}
/* ----------FOOTER LOGIN--------- */
.footer-bottom{
    padding-bottom: 40px;
    text-align: center;
    color: var(--white);
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}
.footer-bottom p a{
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}
.footer-menu{
    float: right;
}

/* -------MEDIA QUERIES------- */
@media (max-width: 768px) {
    .navbar .logo a{
        font-size: 15px;
    }
    /* FORM */
    .form-container{
        width: 90%;
        margin-top: 4em;
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
    }
    .input-format-contact{
        grid-column: 1;
    }
    form input{
        width: 90%;
        padding: .5em;
        margin: 1.2%;
    }
    form .block-input{
        width: 100%;
        margin: auto;
    }
    form button{
        width: 80%;
        padding: .7em;
    }
    /* FOOTER */
    .footer-bottom{
        padding-bottom: 0;
    }
    .footer-bottom p{
        font-size: 10px;
    }
}
