/* ---------PÁGINA----------- */
/* BOTONES PRINCIPIO */

.btn-especial{
    background: var(--redCEG);
    color: var(--whiteCEG);
    border-radius: 60px;
    border: none;
    padding: .3em;
    margin: 5px 10px;
}
.btn-especial:hover{
    cursor:pointer;
    background-color: #ec3e44;
    color: var(--whiteCEG);
    text-decoration: none;
}

/* TABLA */
.view-group{
    margin-top: 2em;
    width: 100%;
}
.input-view-group{
    margin-bottom: 1em;
}
.input-view-group input{
    background-color: #3d7baa98;
    border-radius: 60px;
    padding: .5em;
    border: none;
    outline: none;
    color: var(--whiteCEG);
}
.search-button{
    background-color: var(--redCEG);
    border-radius: 60px;
    border: none;
    padding: .5em;
    color: var(--whiteCEG);
    cursor: pointer;
}
thead{
    background-color: var(--blueCEG);
    color: var(--whiteCEG);
}
/* ---------MEDIA QUERIES----------- */
@media (max-width: 768px) {
    /*---------------- BOTONES INICIO-------------- */
    .save-buttons{
        display: flex;
        flex-direction: column;
    }
}