/* ------CUESTIONARIO COVID----- */
#quizinstrucciones{
    background-color: #5d9ff567;
    border-radius: 10px;
}
.pregunta1 p,
.pregunta2 p{
    margin: 1em auto;
}
/* -------QR-------- */
.botonredondo{
    width: 50px;
    height: 50px;
    border: none;
    background: var(--redCEG);
    color: var(--whiteCEG);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.botonredondo:hover{
    color: var(--whiteCEG);
    text-decoration: none;
    background-color: #ec3e44;
}
.check-icon{
    background-color: #77dd77;
    width: 15%;
    height: 50%;
    border-radius: 50%;
}
.check-icon i{
    font-size: 298%;
}
@media screen and (max-width: 968px) {
    .check-icon{
        width: 25%;
    }
}
@media screen and (max-width: 470px) {
    .check-icon{
        width: 30%;
    }
}