/* ------CUESTIONARIO COVID----- */
#quizinstrucciones{
    background-color: #5d9ff567;
    border-radius: 10px;
}
.pregunta1 p,
.pregunta2 p{
    margin: 1em auto;
}
/* -------QR-------- */
.botonredondo{
    width: 50px;
    height: 50px;
    border: none;
    background: var(--redCEG);
    color: var(--whiteCEG);
    border-radius: 50%;
}