/* -------------------------------------------------VISTA USER-------------------------------------- */
/* --------VISTA USUARIO PRINCIPAL----------- */
.btn-link-principal{
    background-color: var(--redCEG);
    border-radius: 60px;
    color: var(--whiteCEG);
    text-align: center;
    border: none;
}
.btn-link-principal:hover{
    text-decoration: none;
    color: var(--whiteCEG);
    background-color: #ec3e44;
}
/* ------------------------------------EDITAR TUTOR/ALUMNO------------------------------ */

/* ------------------------------------CUESTIONARIO COVID------------------------------ */
/* CUESTIONARIO */
#quizinstrucciones{
    background-color: #5d9ff567;
    border-radius: 10px;
}
.pregunta1 p,
.pregunta2 p{
    margin: 1em auto;
}
/* --------------------------QR-------------------- */
.botonredondo{
    width: 50px;
    height: 50px;
    border: none;
    background: var(--redCEG);
    color: var(--whiteCEG);
    border-radius: 50%;
}
/* --------------------------MEDIA QUERIES---------------------------------- */
/* --------------VISTA USER--------------- */
/* HEADER NAV */
@media (max-width: 768px) {
/* --------------VISTA USER EDITAR TUTOR--------------- */
/* FORM CONTACT */
    .contact-container{
        width: 80%;
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
    }
    .input-format-contact{
        grid-column: 1;
    }
    form .block,
    form .buttonsubmit{
        grid-column: 1 / 5;
    }
    form input,
    form textarea{
    width: 100%;
    padding: 1em;
    margin-bottom: .5em;
    margin-top: .5em;
    }
    form button{
        width: 50%;
        margin: auto 25%;
    }
}