<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ICON -->
    <link rel="icon" href="/img/icon.png" />
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <title>Log In</title>
</head>

<body>
    <div class="login-container" id="contact">
        <div class="login-body">
            <nav class="navbar">
                <div class="content">
                    <div class="logo">
                        <a href="/">Centro Educativo Gandhi</a>
                    </div>
                    <ul class="menu-list">
                        <li>
                            <a href=""><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>