<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <!-- ÍCONO -->
    <link rel="icon" href="/img/icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/vistaalum.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- HEADER / NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbar-color p-2"  style="background-color: #072f4e;" id="menu">
        <div class="container">
            <a class="navbar-brand" href="/VistaAlumn">Centro Educativo Gandhi</a>
            <button class="navbar-toggler pl-3 pr-3" id="navbar-toggle-menu" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/EditarAlumn/<%= data.id_alum %>"><i class="fas fa-user-circle"></i> <%= data.nom_alum %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/EditarTutor/<%= data.id_alum %>">Editar tutor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cuestionario/<%= data.id_alum %>">Responder cuestionario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>