<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <!-- ÍCONO -->
    <link rel="icon" href="/img/icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/vistaalum.css">
    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark navbar-color p-2"  style="background-color: #072f4e;" id="menu">
            <a class="navbar-brand" href="/">Centro Educativo Gandhi</a>
    </nav>
    <!-- CONTAINER MESSAGE -->
    <div class="container-xl">
        <div class="row mx-auto justify-content-center">
            <div class="col-md-5 col-sm-10">
                <div class="text-center">
                    <img src="/img/error403.png" alt="" width="65%">
                </div>
                <h3 class="text-center">Necesitas iniciar sesión para acceder a esta página.</h3>
                <div class="d-grid gap-2 d-md-block text-center mt-4">
                    <a href="/" type="button" class="btn-link-principal p-3">REGRESAR AL MENÚ</a>
                    <a href="/LogAlumn" type="button" class="btn-link-principal p-3">INICIAR SESIÓN</a>
                </div>
            </div>
        </div>
            
    </div>
</body>
</html>