<%if (logindirec === true) {%>
    <%- include ('../partials/_headerVistaDirec') %>
    <!-- BODY -->
    <div class="row m-2 justify-content-center">
        <div class="col-md-6 col-sm-12 mt-5 mb-5 pb-5 pt-5" id="contact">
            <div class="card p-2 mt-2 mb-2">
                <div class="card-body">
                    <h3 class="text-center"><b>DATOS TUTOR</b></h3>
                    <form action="/escuela/RegistrarTutor/<%= info.id_alum%>" method="POST" onsubmit="return validarTutor();">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="nom_tutor" id="nombre" placeholder="Nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="appat_tutor" id="appat" placeholder="Apellido paterno">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="apmat_tutor" id="apmat" placeholder="Apellido materno">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="parentezco" id="parentezco" placeholder="Parentezco">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="calle" id="calle" placeholder="Calle">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="colonia" id="colonia" placeholder="Colonia">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="codigop" id="codigop" placeholder="Código postal">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name ="alcaldia" id="alcaldia" placeholder="Alcaldía">
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4 text-center">
                                <button class="btn-link-principal p-2">GUARDAR TUTOR</button>
                            </div>                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../partials/_footerCopy') %>
<%} else {%>
    <%- include ('../partials/erroracceso') %>
<%}%>