<%if (loginalum === true) {%>
    <%- include ('../partials/_headerVistaAlum') %>
    <!-- CONTAINER MESSAGE -->
    <div class="container-xl">
        <div class="row mx-auto justify-content-center">
            <div class="col-md-5 col-sm-10">
                <div class="text-center">
                    <img src="/img/redirect.png" alt="" width="55%">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-sm-12 mt-4 p-3 text-center" id="quizinstrucciones">
                        <h3 class="text-center">¡ALERTA!</h3>
                        <h5 class="text-center">Te recomendamos acudir con un médico y realizarte una
                            prueba PCR de SARS COV-2 a la brevedad, para evitar un
                            posible contagio. Evita salir de casa, protégete y
                            protege a tu familia.</h5>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <a href="/VistaAlumn" class="btn-link-principal p-3 mt-3 text-center">REGRESAR A INICIO</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<%- include ('../partials/_footerCopy') %>
<%} else {%>
<%- include ('../partials/erroracceso') %>
<%}%>