<%if (loginalum === true) {%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Educativo Gandhi</title>
    <!-- ÍCONO -->
    <link rel="icon" href="/img/icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/vistaalum.css">
    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <%- include ('../partials/_headerVistaAlum') %>
    <!-- CONTAINER MESSAGE -->
    <div class="container-xl">
        <div class="row mx-auto justify-content-center">
            <div class="col-md-5 col-sm-10">
                <div class="text-center">
                    <img src="/img/redirect.png" alt="" width="65%">
                </div>
                <h3>¡ALERTA!</h3>
                <h5 class="text-center">Te recomendamos acudir con un médico y realizarte una
                    prueba PCR de SARS COV-2 a la brevedad, para evitar un
                    posible contagio. Evita salir de casa, protégete y
                    protege a tu familia.</h5>
            </div>
        </div>
            
    </div>
</body>
</html>
<%- include ('../partials/_footerCopy') %>
<%} else {%>
    <%- include ('../partials/erroracceso') %>
<%}%>