<%if (loginalum === true) {%>
    <%- include ('../partials/_headerVistaAlum') %>
    <div class="container-lg">
        <div class="col-md-8 col-sm-12">
            <%= info.nom_alum%>
        </div>
    </div>
    <%- include ('../partials/_footerBig') %>
