<%if (login === true) {%>
    <%- include ('../partials/_headerVistaAlum') %>
        <!-- BODY -->
        <div class="container-xl">
            <div class="row mt-3 pt-1 mb-5 pb-5 mx-auto justify-content-center">
                <div class="col-md-5 col-sm-12 mt-5 pt-5 mb-4 pb-5">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">Bienvenido <%= name %></h2>
                            <h4  class="text-center">Recuerda rellenar tus datos en "Editar tutor"</h4>
                            <div class="d-grid gap-2 col-8 mx-auto mt-5">
                                <a href="" type="button" class="btn-link-principal btn-block p-3">DESCARGAR APP</a>
                                <a href="/escuela/VistaAlumn/Cuestionario" type="button" class="btn-link-principal btn-block p-3">CONTESTAR CUESTIONARIO</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-5 pt-5 mb-4 pb-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Recuerda que si tú te cuidas, nos cuidamos todos.</h4>
                            <div class="text-center">
                                <img src="../img/vistauser.png" width="200" height="200" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include ('../partials/_footerCopy') %>
<%} else {%>
    <%- include ('../partials/erroracceso') %>
<%}%>