<%- include ('../partials/_headerLogin')  %>
            <div class="form-center">
                <div class="form-container">
                    <form action="/IniciarAlum" method="POST" onsubmit="return validarLoginAlum();">
                        <p class="input-format-contact">
                            <input type="text" placeholder="  Matrícula" name="matricula_alum" id="matricula" required />
                        </p>
                        <p class="input-format-contact">
                            <input type="password" placeholder="  Password" name="pass_alum" id="password"  required/>
                        </p>
                        <p class="buttonsubmit">
                            <button type="submit" class="ingresar">
                                Ingresar
                            </button>
                        </p>
                    </form>
                    <p class="needhelp">
                        ¿Necesitas ayuda? <a href="/#contact">Contáctanos</a>
                    </p>
                </div>
            </div>
            <%if(typeof alert != "undefined"){%>
                <%- include ('../partials/alertas')  %>
            <%}%>
<%- include ('../partials/_footerLogin')  %>
