<%- include ('../partials/_headerLogin')  %>
            <div class="form-center">
                <div class="form-container">
                    <form onsubmit="return validarLogin();">
                        <p class="input-format-contact">
                            <input type="email" placeholder="  Correo" name="email_prof" id="email" required>
                        </p>
                        <p class="input-format-contact">
                            <input type="password" placeholder="  Password" name="password_prof" id="password" required>
                        </p>
                        <p class="buttonsubmit">
                            <button type="submit" class="ingresar">
                                Ingresar
                            </button>
                        </p>
                    </form>
                    <p class="needhelp">¿Necesitas ayuda? <a href="/index.html/#contact">Contáctanos</a></p>
                </div>
            </div>
            <%if(typeof alert != "undefined"){%>
                <%- include ('../partials/alertas')  %>
            <%}%>
<%- include ('../partials/_footerLogin')  %>